.background-image{
    background-image: url('/Users/crislyn/bootcamp/group-project/webdetails/ash-edmonds-96EOKC5d200-unsplash.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    width: 100vh;

  }

  h1{
    background-color: black;
  }