
body {
    background-image: url(./images/cocktail.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw; */
    margin: 0;
    padding: 0;
}
#logo{
  font-family:'Lugrasimo', cursive;;
}
input{
  margin-left: 10px;
}
h2{
  font-family: 'Oswald', sans-serif;
}
.divider{
  background-color: orange;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}
#top-section{
  height: 100vh;
}
#bottom-section{
  width: 100%;
  background-color: black;
}
#cocktailList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.drink-card {
  display: flex;
  width: calc(50% - 1rem);
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: #f7fafc;
  border-radius: 0.5rem;
  /* justify-content: space-between; */
}

.drink-info {
  flex: 0 1 70%;  /* Takes up to 70% of the space */
}

.drink-image {
  flex: 0 1 30%;  /* Takes up to 30% of the space */
}

.drink-image img {
  width: 100%;
  height: auto;
} 

/* this makes the cards the same as the lg version just more for small screens */
/* @media (max-width: 640px){
  .drink-card {
    flex-direction: row;
  }

  .drink-info, .drink-image {
    width: 50%;
    height: auto;
  }

  .drink-image {
    padding-bottom: 0;
  }
} */
@media (max-width:640px) {
  nav{
    flex-direction: column;
  }
  .drink-card{
    flex-direction: column-reverse;
  }
}
/* @media (min-width:769px) and (max-width:900px) {
  nav{
    flex-direction: column;
  }
} */
@media (min-width:640px) and (max-width: 769px) {
  .drink-card{
    flex-direction: column-reverse;
  }
  .drink-image img {
    position: absolute;
    left: 400px;
    height: 25%;
    width: 40%;
  } 
}