
.background-image {
    background-image: url(./images/carosel/blue.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}
.listItem:hover{
  color: black;
}
#logo{
  font-family:'Lugrasimo', cursive;;
}

input{
  margin-left: 10px;
}
h2,ul{
  font-family: 'Oswald', sans-serif;
}
.divider{
  background-color: orange;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}
#top-section{
  height: 100vh;
}
#bottom-section{
  width: 100%;
  background-color: black;
}
#cocktailList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.drink-card {
  display: flex;
  /* width: calc(50% - 1rem); */
  width: 100%;
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: #f7fafc;
  border-radius: 0.5rem;
  /* justify-content: space-between; */
}

.drink-info {
  flex: 0 1 70%;  /* Takes up to 70% of the space */
}

.drink-image {
  flex: 0 1 30%;  /* Takes up to 30% of the space */
}

.drink-image img {
  width: 100%;
  height: auto;
} 
@media (max-width:640px) {
  nav{
    flex-direction: column;
  }
  .drink-card{
    flex-direction: column-reverse;
  }
}

@media (min-width:640px) and (max-width: 769px) {
  .drink-card{
    flex-direction: column-reverse;
  }
  /* .drink-image img {
    position: absolute;
    left: 400px;
    height: 25%;
    width: 40%;
  }  */
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: transparent;
  color: white;
  font-size: 2xl;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(94, 87, 87);
  min-width: 160px;
  z-index: 1;
}

.dropdown-content ul {
  list-style-type: none;
  padding: 0;
}

.dropdown-content ul li {
  padding: 8px 12px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
} 

