/* @import url('https://fonts.googleapis.com/css2?family=Lugrasimo&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities'; */
/* .navbar {
    padding-top: 0 !important;
} */
body {
    background-image: url(./cocktail.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    /* margin: 0;
    padding: 0; */
}
#logo{
  font-family:'Lugrasimo', cursive;;
}

/* .image-block {
  background-image: url('your-image.jpg');
  background-size: cover;
  background-position: center;
  height: 50vh;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.list-section {
  flex-basis: 50%;
  padding: 20px;
}

ol {
  list-style-type: none;
  padding: 0;
}
.button-section {
  flex-basis: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.grey-button {
  background-color: grey;
  width: 100px;
  height: 40px;
  margin: 10px;
} */